#status-bar{
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 0.875rem;
    padding-bottom: 0.875rem;

    div{
        gap: 0.25rem;
    }
}

@media (min-width: 576px){
    #status-bar{
        display: none;
    }
}